@import url('reset.css');

/* font-family: "Montserrat", sans-serif;
  font-weight: 500; */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #161616;
    font-size: 18px;
    background: #D8D8D6;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}




.header {
  background: #81A36B;
  padding: 25px 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.header-description ul {
  display: flex;
}

.header-description ul > li + li {
  margin-left: 90px;
}

.header-description a {
  text-align: center;
  text-decoration: none;
  color: #161616;
  
}





.main {
}
.main-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-description {
  width: 540px;
}
.main-description h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 62px;
  /* text-align: center; */
  margin-bottom: 60px;
}
.main-description p {
  text-align: justify;
  margin-bottom: 40px;
}
.main-description button {
  padding: 20px 30px;
  background: #81A36B;
  border: none;
  margin-right: 65px;
  /* width: 190px; */
  /* height: 60px; */
  
}
.main-description button:hover {
  cursor: pointer;
  background: green;
  
}
.main-description a {
  text-decoration: none;
  color: #161616;
  border: 1px solid #81A36B;
  padding: 19px 15px;
  width: 190px;
  
  /* height: 60px; */
  
  
}

.main-foto {
  max-width: 540px;
  max-height: 670px;
}
.main-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}



.about {
  margin-top: 120px;
  text-align: center;
  width: 540px;
  margin:120px auto 120px auto;

}

.about h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 60px;

  
}

.about p {
  line-height: 164.063%;
  
}






.promoution {
  background: #81A36B;
  padding: 80px 0;
}
.promoution-box {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  /* margin-bottom: 20px; */
}

.promoution-box p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}








.footer {
  background: #81A36B;
  padding: 60px 0;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.flex-container h3 {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 40px;
  
}

.footer-contacts a {
  color: #161616;
  text-decoration: none;
  display: inline-block;
}

.footer-contacts ul > li + li {
  margin-top: 20px;
}

.footer-year {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}